body, html {
    font-size: 16px;
    font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.5;
    color: #2a2a2a;
}

body {
    margin: 0;
    padding: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
    margin-top: 1.5em;
}

p {
    margin-right: 10%;
}

a {
    transition: all 0.2s ease;
    color: dodgerblue;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: rgba(0,0,0,0.5);
    font-size: 12px;
    padding-left: 1em;
    border-left: 3px solid rgba(0,0,0,0.25);
}